html, body {
    font-size: 14px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background: url(ground.png);
}

body:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:
        linear-gradient(to right, transparent 0%,
                                  transparent 97%,
                                  hsla(150, 100%, 50%, 0.4) 97%) top left/4rem 100%,
        linear-gradient(to top, transparent 0%,
                                   transparent 97%,
                                   hsla(150, 100%, 50%, 0.4) 97%) bottom left/100% 4rem;
}

#instructions {
    position: absolute;
    top: .5rem;
    left: 1.5rem;
    z-index: 999;
}

#instructions input {
    width: 8rem;
    height: 1.5rem;
    border: 1px solid black;
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: 0.2rem .5rem;
}

#instructions input:invalid {
    border-color: red;
}

#instructions button {
    width: 2rem;
    height: 2rem;
    border: 1px solid black;
    background: grey;
}

#output {
    position: absolute;
    left: 1.5rem;
    top: 3.5rem;
    width: 10rem;
    height: 4.5rem;
    border: 1px solid black;
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: 0.2rem;
    resize: none;
    z-index: 999;
}

.robot {
    background: url(robot.png) no-repeat;
    position: absolute;
    width: 58px;
    height: 58px;
    margin: 30px;
    transition: left .25s linear, bottom .25s linear;
    z-index: 998;
}

.robot[facing="N"] {
    background-position: -89px -7px;
}
.robot[facing="E"] {
    background-position: -172px -90px;
}
.robot[facing="S"] {
    background-position: -91px -172px;
}
.robot[facing="W"] {
    background-position: -6px;
}

.flag {
    position: absolute;
    margin: 2.5rem;
    background: url(flag.png) no-repeat;
    width: 40px;
    height: 40px;
    z-index: 997;
}
